{% extends "base.html" %}
{% block title %}About|{% endblock title %}
{% block body %} 
{% comment %} <div class="b-example-divider"></div>
<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">About Us</h2>
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
            <h2 class="fw-bold text-body-emphasis">Django Shubham is about learning these awesome features</h2>
            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading. We'll add onto
                it with another sentence and probably just keep going until we run out of words.</p> <a href="/register"
                class="btn btn-primary btn-lg">Join</a>
        </div>
        <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
                <div class="col d-flex flex-column gap-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em" aria-hidden="true">
                            <use xlink:href="/"></use>
                        </svg> </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Efficient</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
                <div class="col d-flex flex-column gap-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em" aria-hidden="true">
                            <use xlink:href="/"></use>
                        </svg> </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Scalable</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
                <div class="col d-flex flex-column gap-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em" aria-hidden="true">
                            <use xlink:href="#speedometer"></use>
                        </svg> </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Integrated</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
                <div class="col d-flex flex-column gap-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em" aria-hidden="true">
                            <use xlink:href="#table"></use>
                        </svg> </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Artificial Intelligence</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" class="astro-vvvwv3sm"></script> 
</body>{% endcomment %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/abouts/about-5/assets/css/about-5.css">

<!-- About 5 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-8">
        <h3 class="fs-5 mb-2 text-secondary text-uppercase">About</h3>
        <h2 class="display-5 mb-4">Our journey began with a dream of redefining how the world perceives design.</h2>
        <a href="/register" class="btn btn-lg btn-primary mb-3 mb-md-4 mb-xl-5">Discover More</a>
         
      </div>
    </div>
  </div>
  <div class="container overflow-hidden">
    <div class="row gy-4 gy-lg-0">
      <div class="col-12 col-lg-6">
        <article>
          <div class="card border-0">
            <img class="card-img-top img-fluid m-0" loading="lazy" src="/static/2.jpg" alt="Our Vision">
            <div class="card-body border bg-white p-4">
              <div class="entry-header mb-3">
                <h2 class="card-title entry-title h4 mb-0">
                  <a class="link-dark text-decoration-none" href="#!">Our Vision</a>
                </h2>
              </div>
              <p class="card-text entry-summary text-secondary mb-3">From sleek modernism to timeless elegance, we infuse every creation with a touch of our artistic ingenuity. As a design agency, great design can shape perceptions, inspire action, and leave an indelible mark on the world.</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-12 col-lg-6">
        <article>
          <div class="card border-0">
            <img class="card-img-top img-fluid m-0" loading="lazy" src="/static/1.jpg" alt="Our Approach">
            <div class="card-body border bg-white p-4">
              <div class="entry-header mb-3">
                <h2 class="card-title entry-title h4 mb-0">
                  <a class="link-dark text-decoration-none" href="#!">Our Approach</a>
                </h2>
              </div>
              <p class="card-text entry-summary text-secondary mb-3">Welcome to our design agency, where creativity knows no bounds and innovation takes center stage. We are a team of dedicated designers, strategists, and visionaries with a passion for transforming ideas into captivating visuals.</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
{% endblock body %}